<ion-header class="light-header">
  <ion-navbar mode="ios">
    <ion-title mode="ios">PRADIP Mobile App</ion-title>
    <!-- <button
      ion-button
      icon-only
      color="primary"
      text-right
      clear
      class="logout-button"
      (click)="showDashboardInfo()"
    >
      <ion-icon name="information-circle"></ion-icon>
    </button> -->
  </ion-navbar>
  <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChange()">
    <ion-segment-button value="tasks">My Tasks</ion-segment-button>
    <ion-segment-button value="files">My Files</ion-segment-button>
    <ion-segment-button
      value="dept"
      [hidden]="!dashboardVisibility.hodFileSummary"
      >HOD</ion-segment-button
    >
    <ion-segment-button
      value="plant"
      [hidden]="!dashboardVisibility.plantFileSummary"
      >Plant</ion-segment-button
    >
    <ion-segment-button value="cc" [hidden]="!dashboardVisibility.ccFileSummary"
      >CC</ion-segment-button
    >
  </ion-segment>
</ion-header>

<ion-content>
  <ion-card [hidden]="selectedSegment != 'tasks'">
    <!-- <ion-row class="date-filter">
      <ion-item ion-col col-5 no-padding>
        <ion-datetime placeholder="Start Date"></ion-datetime>
      </ion-item>
      <ion-item ion-col col-5 no-padding>
        <ion-datetime placeholder="To Date"></ion-datetime>
      </ion-item>
      <ion-col col-2>
        <button
          ion-button
          small
          round
          color="primary"
          (click)="applyDateFilterOnMyTasks()"
        >
          GO
        </button>
      </ion-col>
    </!-->
    <ion-card-header text-center>
      <ion-label *ngIf="!totalTaskCount">Data is not available</ion-label>
      <ion-label *ngIf="totalTaskCount" class="dashboard-chart-header"
        >Received Task Summary
        <button
          ion-button
          icon-only
          small
          color="primary"
          text-right
          clear
          (click)="showDashboardInfo()"
        >
          <ion-icon name="information-circle"></ion-icon>
        </button>
      </ion-label>
    </ion-card-header>
    <ion-card-content>
      <canvas #tasksChart (click)="tasksChartClick($event)"></canvas>
      <ion-row text-center>
        <ion-label class="help-text">Click on pie to view details</ion-label>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card [hidden]="selectedSegment !='files'" class="files-chart">
    <ion-card-header text-center>
      <ion-label *ngIf="!totalFileCount">Data is not available </ion-label>
      <ion-label *ngIf="totalFileCount" class="dashboard-chart-header">
        Created File Summary
        <button
          ion-button
          icon-only
          small
          color="primary"
          text-right
          clear
          (click)="showDashboardInfo()"
        >
          <ion-icon name="information-circle"></ion-icon>
        </button>
      </ion-label>
    </ion-card-header>
    <ion-card-content>
      <canvas #filesChart (click)="filesChartClick($event)"></canvas>
      <ion-row text-center>
        <ion-label class="help-text">Click on pie to view details</ion-label>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card [hidden]="selectedSegment !='dept'" class="files-chart">
    <ion-card-header text-center>
      <ion-label *ngIf="!totalDeptFilesCount">Data is not available</ion-label>
      <ion-label *ngIf="totalDeptFilesCount" class="dashboard-chart-header">
        Departmental File Summary
        <button
          ion-button
          icon-only
          small
          color="primary"
          text-right
          clear
          (click)="showDashboardInfo()"
        >
          <ion-icon name="information-circle"></ion-icon>
        </button>
      </ion-label>
    </ion-card-header>
    <ion-card-content>
      <canvas #deptChart (click)="deptChartClick($event)"></canvas>
      <ion-row text-center>
        <ion-label class="help-text">Click on pie to view details</ion-label>
      </ion-row>
      <hr />
      <ion-row text-center>
        <ion-label class="help-text"
          >Filter for Employee file summary</ion-label
        >
      </ion-row>

      <ion-item *ngIf="departmentalEmployees.length">
        <ion-select
          class="select-employee"
          interface="popover"
          placeholder="Select an Employee"
          [(ngModel)]="selectedEmployee"
          (ionChange)="onEmployeeSelection()"
        >
          <ion-option
            *ngFor="let employee of departmentalEmployees"
            [value]="employee"
            >{{employee.name}}</ion-option
          >
        </ion-select>
      </ion-item>

      <ion-grid *ngIf="deptUserFileSummary.length">
        <ion-row
          *ngFor="let row of deptUserFileSummary"
          (click)="getDeptDrillDownDetails(row)"
        >
          <ion-col col-6>
            <ion-label class="{{row.count ? 'clickable':''}}">
              {{row.status}}
            </ion-label>
          </ion-col>
          <ion-col col-6>
            <ion-label class="{{row.count ? 'clickable':''}}">
              {{row.count}}
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card [hidden]="selectedSegment !='plant'" class="files-chart">
    <ion-card-header text-center>
      <ion-label *ngIf="!totalPlantFilesCount">Data is not available</ion-label>
      <ion-label *ngIf="totalPlantFilesCount" class="dashboard-chart-header">
        Plant Level File Summary
        <button
          ion-button
          icon-only
          small
          color="primary"
          text-right
          clear
          (click)="showDashboardInfo()"
        >
          <ion-icon name="information-circle"></ion-icon>
        </button>
      </ion-label>
    </ion-card-header>
    <ion-card-content>
      <canvas #plantChart (click)="plantChartClick($event)"></canvas>
      <ion-row text-center>
        <ion-label class="help-text">Click on pie to view details</ion-label>
      </ion-row>
      <hr />
      <ion-row text-center>
        <ion-label class="help-text"
          >Filter for departmental file summary</ion-label
        >
      </ion-row>

      <ion-item *ngIf="departments.length">
        <ion-select
          class="select-employee"
          interface="popover"
          placeholder="Select a Department"
          [(ngModel)]="selectedDepartment"
          (ionChange)="onDeptSelection()"
        >
          <ion-option
            *ngFor="let department of departments"
            [value]="department"
            >{{department}}</ion-option
          >
        </ion-select>
      </ion-item>
      <ion-grid *ngIf="plantDeptFileSummary.length">
        <ion-row
          *ngFor="let row of plantDeptFileSummary"
          (click)="getPlantDrillDownDetails(row)"
        >
          <ion-col col-6>
            <ion-label class="{{row.count ? 'clickable':''}}">
              {{row.status}}
            </ion-label>
          </ion-col>
          <ion-col col-6>
            <ion-label class="{{row.count ? 'clickable':''}}">
              {{row.count}}
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card [hidden]="selectedSegment !='cc'" class="files-chart">
    <ion-card-header text-center>
      <ion-label *ngIf="!totalCCFilesCount">Data is not available</ion-label>
      <ion-label *ngIf="totalCCFilesCount" class="dashboard-chart-header">
        Corporate File Summary
        <button
          ion-button
          icon-only
          small
          color="primary"
          text-right
          clear
          (click)="showDashboardInfo()"
        >
          <ion-icon name="information-circle"></ion-icon>
        </button>
      </ion-label>
    </ion-card-header>
    <ion-card-content>
      <canvas #ccChart (click)="ccChartClick($event)"></canvas>
      <ion-row text-center>
        <ion-label class="help-text">Click on pie to view details</ion-label>
      </ion-row>
      <hr />
      <ion-row text-center>
        <ion-label class="help-text">Filter for plant file summary</ion-label>
      </ion-row>
      <ion-item *ngIf="plants.length">
        <ion-select
          class="select-employee"
          interface="popover"
          placeholder="Select a Plant"
          [(ngModel)]="selectedPlant"
          (ionChange)="onPlantSelect()"
        >
          <ion-option *ngFor="let plant of plants" [value]="plant"
            >{{plant}}</ion-option
          >
        </ion-select>
      </ion-item>
      <ion-item *ngIf="plants.length">
        <ion-select
          class="select-employee"
          interface="popover"
          placeholder="Select a Process"
          [(ngModel)]="selectedProcess"
          (ionChange)="onProcessSelection()"
        >
          <ion-option *ngFor="let process of processes" [value]="process"
            >{{process}}</ion-option
          >
        </ion-select>
      </ion-item>

      <ion-grid *ngIf="ccPlantFileSummary.length">
        <ion-row
          *ngFor="let row of ccPlantFileSummary"
          (click)="getCCDrillDownDetails(row)"
        >
          <ion-col col-6>
            <ion-label class="{{row.count ? 'clickable':''}}">
              {{row.status}}
            </ion-label>
          </ion-col>
          <ion-col col-6>
            <ion-label class="{{row.count ? 'clickable':''}}">
              {{row.count}}
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
