page-inbox {
  ion-header {
    .headerrowcls {
      background: #eff6fa;
      .selctcls {
        background: none;
        padding-left: 0;
        ion-label {
          display: none;
        }
      }
      h3 {
        margin-top: 6px;
        font-size: 18px;
      }
      ion-select {
        max-width: 100%;
      }
    }

    .header-cls {
      margin: 0 !important;
    }
    ion-row {
      ion-col {
        ion-row {
          button {
            ion-icon {
              padding: 0 0 !important;
              font-size: 2.8em !important;
              color: #fff;
              margin-left: 10px;
            }
          }
          .wlcomcls {
            text-transform: capitalize;
            font-size: 18px;
            color: #fff;
            margin-top: 12px;
            margin-left: 10px;
          }
        }
      }
      .dashboard-button {
        padding: 0px 20px;
        border: 1px solid #3690cc;
        border-radius: 7px;
        right: 10px;
        height: 33px;
        -webkit-box-shadow: 5px 5px 3px 0px rgba(0, 95, 168, 1);
        -moz-box-shadow: 5px 5px 3px 0px rgba(0, 95, 168, 1);
        box-shadow: 5px 5px 3px 0px rgba(0, 95, 168, 1);
        // cursor: pointer;
      }
    }
    h3 {
      width: 100%;
      margin: 0;
      padding: 0 0 0 0px;
      position: relative;
      text-align: center;
    }
    .sorting-arrows {
      display: table;
      width: 40px;
      float: right;
      height: 30px;
      position: relative;
    }
    .up-arrow {
      position: absolute;
      position: absolute;
      top: 4px;
      right: 22px;
    }
    .down-arrow {
      position: absolute;
      top: 16px;
      right: 22px;
    }
  }
  ion-list {
    ion-item {
      padding: 0 !important;

      .item-inner {
        padding: 0 10px !important;
        position: relative;
      }
      span {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 12px;
        color: #0067ac;
      }
      .txt-right {
        text-align: right;
      }
      h5 {
        font-size: 14px !important;
        font-weight: bold !important;
        color: #333;
      }
      p {
        font-size: 12px !important;
        font-weight: normal;
        color: #333 !important;
      }
    }
  }
  .datecls {
    color: #0067ac !important;
  }
  ion-content {
    ion-row {
      color: #fff;
      font-weight: bold;
      ion-icon {
        margin-top: 10px;
        font-size: 1.4em;
      }
    }
  }
}
