page-ldap-login {
  .login-form {
    width: 100%;
    display: flex;

    padding: 0 20px;
    box-sizing: border-box;

    form {
      width: 100%;
      color: #e0e0e0 !important;
    }

    input {
      color: #e0e0e0 !important;
    }
  }

  .user-icon {
    width: 86px;
    height: 86px;
    background: url(../../assets/imgs/user-icon.png) no-repeat center bottom
      color($colors, primary, base);

    margin: 0 auto;
    border: 3px solid #fff;
    border-radius: 100%;
    margin-top: -42px;
  }
  .item {
    background: none;
    padding-left: 0;
  }
  ion-label {
    color: #fff !important;
  }
  ion-icon {
    font-size: 1.6em !important;
  }
  .login-input .item-inner {
    border-bottom: 1px solid #dedede !important;
  }

  .view-hide-password {
    align-self: flex-end;
  }
}
