accordion {
  ion-card {
    ion-card-content {
      max-height: 0;
      padding: 0px 13px !important;
    }
    ion-card-header {
      padding: 0px !important;
    }

  }
  .tblhed{
    font-weight: 600;
  }
}
